# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.idea
.DS_Store
/captures